# Node
frontend/node_modules
frontend/.nuxt
frontend/.output
frontend/.cache

# Python
backend/venv
venv
__pycache__
*.pyc

# Git
.git
.gitignore

# OS
.DS_Store

# IDE
.vscode
.idea

# Local media (mounted via volumes)
backend/media
